@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #250e50;
}

#chrono-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 75vh;
  background: linear-gradient(120deg, #67078d, #501ead);
  box-shadow: 4px 0 10px 4px #00000077;
  border-radius: 10px;
  padding: 10px;
}

#chrono-time {
  display: grid;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto;
}

.chrono-timer {
  --margin-vertical: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: calc(100% - var(--margin-vertical) * 2);
  margin: var(--margin-vertical) 0;
  background: #5720be5b;
  box-shadow: 4px 0 15px 1px #00000077;
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
}

.chrono-timer > h1 {
  width: 100%;
  font-weight: 800;
  font-size: 110pt;
}

.chrono-timer > h2 {
  font-weight: 400;
}

.chrono-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chrono-btn {
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.4s;
}

.chrono-btn:hover {
  cursor: pointer;
}

.chrono-btn.chrono-btn-start {
  background: #04eb23;
}

.chrono-btn.chrono-btn-start:hover {
  background: #02bb1b;
}

.chrono-btn.chrono-btn-stop {
  display: none;
  background: #eb1304;
}

.chrono-btn.chrono-btn-stop:hover {
  background: #bd1004;
}

.chrono-btn.chrono-btn-reset {
  display: none;
  background: #7c7b7b;
}

.chrono-btn.chrono-btn-reset:hover {
  background: #585858;
}

.chrono-btn.chrono-btn-resume {
  display: none;
  background: #04eb23;
}

.chrono-btn.chrono-btn-resume:hover {
  background: #02bb1b;
}
